:root {
    --primary-color: #4caf50;
    --primary-color-dark: #087f23;
    --primary-color-light: #80e27e;
    --primary-color-contrast: #ffffff;
    --primary-color-light-contast: #000000;

    --secondary-color: #616161;
    --secondary-color-dark:#373737;
    --secundary-color-light:#8e8e8e;

    --background: #dddddd;
}

body {
    background-color: var(--background);
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
}

header .titlebar{
    text-align: center;
    padding:15px 0;
    background-color: var(--primary-color-dark);
}

header .titlebar h1{
    font-size: 33px;
    font-weight: bolder;
    
    
}

header .titlebar h1 a {
    color: var(--secondary-color-dark);
    text-decoration: none;
}

header .titlebar h1 a:hover {
    text-decoration: underline;
}

header .titlebar h1.active a {
    color: black;
}

header .menubar {
    background-color: var(--primary-color);
    text-align: center;
}

header .menubar li {
    display: inline-block;
    padding: 15px;
}

header .menubar li.active{
    background-color: var(--primary-color-dark);
}

header .menubar li:hover {
    background-color: var(--primary-color-light);
}

header .menubar a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    min-height: 400px;
    margin-top: 130px;
}

main div{
    width: 60%;
    margin: 0 auto;
    text-align: justify;
    background-color: var(--background);
}

main h2 {
    text-align: center;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
}

main p {
    margin-bottom: 10px;
}

main p em {
    font-style: italic;
}

main p strong {
    font-weight: bold;
}

main blockquote {
    font-style: italic;
    padding-left: 15px;
    border-left: 3px solid var(--secondary-color-dark);
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    background-color: var(--secundary-color-light);
    text-align: center;
}

footer li {
    padding-bottom: 10px;
}

footer li:hover a {
    color: black;
}

footer li.active {
    text-decoration: underline;
}

footer a, footer p {
    color: var(--secondary-color-dark);
    text-decoration: none;
    
}
#bywork {
    margin-top: 10px;
    font-size: 13px;

}

#license {
    padding-bottom: 10px;
    font-size: 13px;
}